react/v8-compile-cache-0/
package-lock.json
data
collectstatic/
.vagrant
*.zip
*.pyc
*.DS_Store
*.swp
local_settings.py
env
.venv
gunicorn.sh
### PyCharm ###
*.iml
.idea/
### VSCode ###
.vscode/
### Django ###
*.pyc
local_settings.py
*.so
*.mo
media/
*.pid
celerybeat-schedule
node_modules
static/build
static/react
templates/react/react.html
*~
celerybeat-schedule.*
*.log
/templates/react/react_myadmin.html
dist
/templates/react/index.html
static/i18n/*.json
react/.cache-loader
yarn-error.log
typings

### useless files clone from cloudjudge ###
cj/tempgen/cli.py

# Batchjudge extract problem
batchjudge_extract/
db.sqlite3