<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Hermes</title>
	<meta name="keywords" content="Hermes, 即时通讯, discord" />
	<meta name="description" content="Powerful coding training system. LintCode has the most interview problems covering Google, Facebook, Linkedin, Amazon, Microsoft and so on. We provide Chinese and English versions for coders around the world."
	/>
</head>

<body>
	<div id="root"></div>
	<script type="text/javascript" src="/static/react/hermes.js"></script>
</body>
</html>